<!DOCTYPE html>
<html>
<head>
	<title>
		Turismo
	</title>
	<script src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
	<script src="js/bootstrap.min.js"></script>
  <script src="js/gauge.min.js"></script>
</head>
<body>
  <a href="/" class="btn btn-info btn-block" role="button">Home</a>
  <div class="container">
    <div class="dashboard">
      <canvas data-type="linear-gauge"
        data-width="160"
        data-height="600"
        data-border-radius="20"
        data-borders="0"
        data-bar-stroke-width="20"
        data-minor-ticks="10"
        data-major-ticks="0,10,20,30,40,50,60,70,80,90,100"
        data-value="22.3"
        data-units="°C"
        data-color-value-box-shadow="false"
></canvas>
    </div>

  </div>
</body>
