doctype html
html(lang="es")
  head
    title Turismo
    meta(charset="utf-8")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body  
    block titulo
    block contenido
    block dashboard
    block footer
    link(href="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js", rel="script") 
